
table tr td:nth-child(1){
    background-color: #d4d3d3;
    font-weight: bold;
}
table tr td:nth-child(2){
    background-color: #f2dede;
}

.img{
    position:absolute;
    top:104px;
    right: 20px;
    padding: 5px;
    background-color: rgb(149, 147, 147);
}
.parent{
    padding-left:10px ;
    padding-right:10px ;
}